@import url(css/reset.css);

*{
	font-weight:400;
}

body {
background:#1F3642;
color:#FFF;
font-family:"Open Sans", sans-serif;
}

.logo {
background:#2a4959;
color:#355c70;
font-size:10px;
height:200px;
line-height:200px;
width:300px;
margin:30px auto 0;
}

table {
background:#5e837b;
margin:30px auto;
padding:15px;
}

td {
color:#B6CCB8;
font-size:14px;
padding:8px 2px;
}

th {
background:#6D968D;
border-bottom:1px dashed #1F3642;
font-size:16px;
padding:10px 2px;
}

.offline,.updated,.copy,h1,h2,table {
width:720px;
}

.logo,.updated,.copy,td,h1,h2 {
text-align:center;
}

.ad{
	margin: 20px auto;
	width: 728px;
}

h1 {
font-size:48px;
margin:20px auto 0;
}

h2 {
font-size:20px;
margin:0 auto;
}

a {
color:#FDFFFC;
text-decoration:none;
}

.offline {
color:#345b71;
margin:0 auto;
}

h3 {
margin-bottom:4px;
}

.offline p {
font-size:12px;
line-height:18px;
}

.offline a {
color:#3a657c;
}

.updated,.copy {
color:#345b71;
font-size:10px;
margin:25px auto 0;
}

.announcement {
width:100%;
margin-bottom:80px;
background:#78B150;
text-align:center;
line-height:18px;
font-size:12px;
padding:6px 0;
}

strong {
font-weight:700;
}

a:hover,.announcement a {
text-decoration:underline;
}

.copy{
	margin-top: 6px;
}

.copy a{
	color: #3a657c;
	text-decoration: underline;
}